<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Send a letter!</title>
  <link rel="stylesheet" href="../css/reset.css">
  <link rel="stylesheet" href="../css/sign_up.css">
</head>
<body>

  <div class="menu-bar">
    <div class="menu-links">
      <a href="../index.html">Home page</a>
      <a href="write.html">Write a letter</a>
      <a href="my_letters.html">My letters</a>
      <a href="contact_me.html">Contact me</a>
    </div>
    <div class="menu-right">
      <div class="dropdown">
        <button class="dropbtn">Account ▾</button>
        <div class="dropdown-content">
          <a href="log_in.html">Log In</a>
          <a href="sign_up.html">Sign Up</a>
        </div>
      </div>
    </div>
  </div>


<footer class="footer">
  <p class="footer-title">Write a Letter 💌</p>
  <p class="footer-text">Made with love for friends, smiles, and kind words.</p>

  <div class="footer-links">
    <a href="../index.html">Home</a>
    <a href="write.html">Write a Letter</a>
    <a href="my_letters.html">My Letters</a>
    <a href="contact_me.html">Contact</a>
  </div>

  <p class="footer-copy">© 2026 Yasnia lizis saitia</p>
</footer>


</body>
</html>